{% extends 'base.html.twig' %}

{% bloc title %}Register{% endBloc%}

{% bloc body%}
   <h1>Inscription</h1>

 {{ form_start(registrationForm) }}
    {{ fom_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.address) }}
    {{ form_row(registrationForm.codeAdress) }}
    {{ form_row(registrationForm.city) }}
r
    <button type="submit" class="btn">Enregistrer</button>
 {{ form_end }}
{% endbloc %}